# Виртуальное окружение Python
venv/
env/
.venv/

# Файлы кэша и скомпилированные файлы
__pycache__/
*.py[cod]
*.so

# База данных (чтобы не хранить её в Git)
*.db
*.sqlite3

# Файлы IDE и редакторов
.vscode/
.idea/

# Временные файлы
*.log
*.tmp